<div class="w-full   rounded-md overflow-hidden shadow-md motion-scale-in-[0.5] motion-translate-x-in-[-13%] motion-translate-y-in-[12%] motion-opacity-in-[0%] motion-rotate-in-[-10deg] motion-blur-in-[5px] motion-duration-[0.35s] motion-duration-[0.53s]/scale motion-duration-[0.53s]/translate motion-duration-[0.63s]/rotate ">
    <div class="">
      <button class="flex justify-between items-center w-full py-2 px-4 bg-gray-50 hover:bg-gray-100 focus:outline-none" (click)="toggleAccordion()">
        <div class="flex items-center">
      
          <span class="font-semibold">{{title}}</span>
        </div>
        <span class="transition-transform" [ngClass]="{'rotate-180': isAccordionOpen}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </span>
      </button>
      <div class="px-4 py-3 bg-white" [ngClass]="{'hidden': !isAccordionOpen}">
        
       
        <ng-content></ng-content>
      </div>
    </div>
  </div>